{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}学生管理{% endblock %}</title>
    {% block jscontent %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans'>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">导航切换</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">教务管理系统</a>
            </div>
        </nav>
        <!--Top Nav-->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                <!--要求返回用户的名字和学号-->
                    <li>
                        <div class="user-in-div inner-text">
                            <div class="inner-text">
                                {{stu_name}}
                                <br>
                                {{username}}
                            </div>
                        </div>
                    </li>


                    <li>
                        <a class="active-menu" href="{% url 'index_stu' %}"><i class="fa fa-home "></i>学生管理</a>
                    </li>
                    <li>
                        <a><i class="fa fa-tag "></i>用户管理 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'resetpsw_stu' %}"><i class="fa fa-lock "></i>学生密码修改</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-tag "></i>选课系统 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'required_courses' %}"><i class="fa fa-university "></i>必选课选课管理</a>
                            </li>
                            <li>
                                <a href="{% url 'diselectives_courses' %}"><i class="fa fa-university "></i>限选课选课管理</a>
                            </li>
                            <li>
                                <a href="{% url 'free_optional_courses' %}"><i class="fa fa-university "></i>公选课选课管理</a>
                            </li>
                            <li>
                                <a href="{% url 'physical_education' %}"><i class="fa fa-university "></i>体育课选课管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-tag "></i>查询系统 <span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="{% url 'search_grades' %}"><i class="fa fa-search "></i>学生成绩查询</a>
                            </li>
                            <li>
                                <a href="{% url 'search_courses' %}"><i class="fa fa-search "></i>学期课表查询</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'loginout' %}"><i class="fa fa-sign-out "></i>退出登录</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">&nbsp&nbsp{% block pagetitle %}学生管理{% endblock %}</h1>
                        <h1 class="page-subhead-line">{% block pagecontent %}在学生管理界面中，你可以对你的账号进行管理，同时你也可以进行选课或对课表成绩进行查询{% endblock %}</h1>
                    </div>
                </div>

                    {% block maincontent %}   {% endblock %}

            </div>
        </div>
    </div>

    <div id="footer-sec">
        BTH002 Assignment
    </div>

    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>