{% extends 'base_tea.html' %}

{% block jscontent %}
    {% if isSuccess %}
    <script type="text/javascript">
        alert('成绩已录入！');
    </script>
    {% endif %}
{% endblock %}

{% block title %} 学生管理 {% endblock %}

{% block pagetitle %}  课程成绩录入  {% endblock %}

{% block pagecontent %} 课程成绩录入 {% endblock %}

{% block maincontent %}
    <div class="panel-body">
                    <form method="get">
                    <div class="col-md-2">
                        <select class="form-control" name="course">

                        {% if selected %}
                            <option selected="selected" value="all">所有课程</option>
                        {% else %}
                            <option value="all">所有课程</option>
                        {% endif %}

                        {% for tea_course in tea_courses %}
                        {% if select_course == tea_course.Cno %}
                            <option value="{{tea_course.Cno}}" selected="selected">{{tea_course.Cname}}</option>
                        {% else %}
                            <option value="{{tea_course.Cno}}">{{tea_course.Cname}}</option>
                        {% endif %}
                        {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-1" align="center">
                        <input type="submit" name="" class="btn" value="查询">
                    </div>
                    </form>
    </div>

    <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            学生成绩录入
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                            <form method="post">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>课程名</th>
                                            <th>学生学号</th>
                                            <th>学生姓名</th>
                                            <th>成绩</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for report in reports %}
                                        <tr>
                                            <td>{{report.course.Cname}}</td>
                                            <td>{{report.student.Sno}}</td>
                                            <td>{{report.student.Sname}}</td>
                                            <td><input type="text" name="{{report.id}}" value="{{report.Score}}" size="4"></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="col-md-12"><hr></div>
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                <input type="submit" value="成绩录入" class="btn btn-success">
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    {% endblock %}